/* 
-- Css Property Order --
display --객체의 노출여부/표현방식--
list-style
position --위치/좌표--
float
clear
width / height --크기/여백--
padding / margin
border / background --윤곽/배경--
color / font --글자/정렬--
text-decoration
text-align / vertical-align
white-space
other text
content --내용-- 
*/
* {
    box-sizing: border-box;
}

#app {
    display: flex;
}

.wrap {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.main-wrap {
    display: flex
}


@import url("./_normalize.css");
@import url("./nav.css");
@import url("./form.css");
@import url("./page.css");